
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Affairs";
    ViewBag.Heading = "Validate if ID Number is valid";
}

<div class="row">
    <div class="col-md-12">
        <input type="text" value=@ViewBag.idNum id="txtID" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <input type="button" value="Validate ID" onclick="location.href='@Url.Action("GetControlDigit", "IDNumber")'" />
    </div>
</div>



