@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Affairs";
    ViewBag.Heading = "Validate if ID Number is valid";
}

@using (Html.BeginForm("ValidateExisting", "IDNumber"))
{
    <div class="row">
        <div class="col-md-12">
            @Html.TextBox("textIDNumber")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <button>Validate ID</button>
        </div>
    </div>


}